.card_shadow {
    width: 100%;
    margin-top: 0%;
    padding: 2%;
    -webkit-box-shadow: 0px 0px 11px 0px rgb(241, 237, 241);
    -moz-box-shadow: 0px 0px 11px 0px rgb(241, 237, 241);
    box-shadow: 0px 0px 11px 0px rgb(241, 237, 241);
    background-color: #fff;
    border-radius: 14px;
}
html, body {
    height: 100%;
}
.card_shadow.login {
    margin-top: 9% !important;
}
#app {
    min-height: 100vh;
}
.error label,
span.error-msg {
    color: #ff0000 !important;
}

.error input {
    border: 1px solid #ff0000;
}

.error select {
    border: 1px solid #ff0000;
}

.Toastify__toast {
    font-size: 20px;
}

.col-form-label {
    font-size: 1.7rem;
}
.form-control {
    padding: 5px;
    font-size: 1.7rem;
    height: 45px;
}
.modal-title {
    font-size: 2rem;
}
.modal .btn {
    font-size: 2rem;
}

.btn {
    font-size: 1.4rem;
}
.table {
    font-size: 1.7rem;
}
.card {
    font-size: 1.7rem !important;
    font-weight: 900 !important;
    margin-top: 5px;
}
.pagination {
    float: right;
}
.pagination>li {
    display: inline-block;
    padding-left: 0;
}

.pagination>li {
    list-style: none;
    border: 0.9px solid;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2c689c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li.active>a {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

/* Style the active class (and buttons on mouse-over) */
.pagination>li>a:hover {
    background-color: #218838;
    color: white;
}

